@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  * {
    @apply border-slate-200;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-slate-100 text-slate-900;
    font-family: var(--font-inter), sans-serif;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-jetbrains-mono), monospace;
  }
}
